backups/workflow_2026-04-24.json
{
  "updatedAt": "2026-04-24T13:57:32.038Z",
  "createdAt": "2026-04-23T15:49:10.550Z",
  "id": "6nJBQ4J8SkysTTbx",
  "name": "🦎 Agente Camaleão — Vitrine SaaS",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-camaleon",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "📥 Webhook WAHA Vitrine",
      "position": [
        0,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "0fb1ef4e-9a5c-45ee-af70-3e05becd1426"
    },
    {
      "parameters": {
        "jsCode": "// Extrai dados da mensagem recebida pelo WAHA\nconst body = $input.first().json.body;\n\n// Payload WAHA\nconst payload = body.payload || body;\n// Se 'from' tem @lid, é um ID interno — precisamos do número real\n// O número real do remetente está no campo 'to' de '_data' ou podemos tentar via notifyName\n// Estratégia: usar 'to' do payload se 'from' for @lid (pois o bot recebe de quem enviou)\n// NOTA: Em chats @lid o 'to' é o número do bot. O remetente real fica só no @lid sem telefone.\n// Solução: guardar o @lid completo como chatId para resposta direta.\nconst fromRaw = payload.from || '';\nlet phone;\nif (fromRaw.includes('@lid')) {\n  // Usar o from original com @lid como chatId (o WAHA WEBJS aceita @lid para envio)\n  phone = fromRaw; // ex: 118747406835835@lid\n} else {\n  phone = fromRaw.replace('@c.us', '').replace('@s.whatsapp.net', '');\n}\nconst message = (payload.body || payload.text || '').trim();\nconst session = body.session || 'default';\nconst msgId = payload.id || '';\n\n// Ignora mensagens vazias, de grupos ou do próprio bot\nif (!message || !phone || phone.includes('-') || (payload.fromMe === true)) {\n  return [];\n}\n\nreturn [{ json: { phone, message, session, msgId, rawBody: body } }];"
      },
      "id": "node-extract",
      "name": "📋 Extrair Dados WAHA",
      "position": [
        240,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT phone, nicho, historico FROM agente_camaleon_sessoes WHERE phone = '{{ $json.phone }}' LIMIT 1;",
        "options": {}
      },
      "id": "node-get-session",
      "name": "🗃️ Buscar Sessão Usuário",
      "position": [
        480,
        304
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "id": "MAUejev0zls5AVog",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mescla dados extraídos com sessão do Postgres\nconst extracted = $input.all()[0]?.json || {};\nconst sessionRow = $input.all()[1]?.json || null;\n\nconst phone = extracted.phone;\nconst message = extracted.message;\nconst session = extracted.session;\nconst nicho = sessionRow?.nicho || null;\nconst historico = sessionRow?.historico ? JSON.parse(sessionRow.historico) : [];\n\nreturn [{ json: { phone, message, session, nicho, historico } }];"
      },
      "id": "node-merge-session",
      "name": "🔀 Merge Dados + Sessão",
      "position": [
        720,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-nicho",
              "leftValue": "={{ $json.nicho }}",
              "operator": {
                "operation": "notEmpty",
                "singleValue": true,
                "type": "string"
              }
            }
          ],
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          }
        },
        "options": {}
      },
      "id": "node-if-nicho",
      "name": "❓ Tem Nicho Selecionado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.trim() }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "1"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Estetica"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.trim() }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "2"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Saude"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.trim() }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "3"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Marketing"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "node-switch-sel",
      "name": "🔢 Switch Seleção de Nicho",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1200,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.85.2.130:3001/api/sendText",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $json.session }}\",\n  \"chatId\": \"{{ $json.phone }}@c.us\",\n  \"text\": \"👋 Olá! Bem-vindo ao *Agente Camaleão*!\\n\\n🦞 Sou um assistente inteligente. Para te atender melhor, escolha o perfil:\\n\\n*1️⃣* — Clínica Estética\\n*2️⃣* — Saúde / Medicina\\n*3️⃣* — Marketing Digital\\n\\nDigite o número:\"\n}",
        "options": {}
      },
      "id": "node-menu",
      "name": "📋 Enviar Menu de Nichos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1440,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "k1y0l7T56J9x7BKb",
          "name": "WAHA Vitrine API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agente_camaleon_sessoes (phone, nicho, historico, updated_at)\nVALUES ('={{ $json.phone }}', 'estetica', '[]', NOW())\nON CONFLICT (phone) DO UPDATE SET nicho = 'estetica', historico = '[]', updated_at = NOW();",
        "options": {}
      },
      "id": "node-save-est",
      "name": "💾 Salvar Nicho Estética",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1440,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "MAUejev0zls5AVog",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agente_camaleon_sessoes (phone, nicho, historico, updated_at)\nVALUES ('={{ $json.phone }}', 'saude', '[]', NOW())\nON CONFLICT (phone) DO UPDATE SET nicho = 'saude', historico = '[]', updated_at = NOW();",
        "options": {}
      },
      "id": "node-save-sau",
      "name": "💾 Salvar Nicho Saúde",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1440,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "MAUejev0zls5AVog",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agente_camaleon_sessoes (phone, nicho, historico, updated_at)\nVALUES ('={{ $json.phone }}', 'marketing', '[]', NOW())\nON CONFLICT (phone) DO UPDATE SET nicho = 'marketing', historico = '[]', updated_at = NOW();",
        "options": {}
      },
      "id": "node-save-mkt",
      "name": "💾 Salvar Nicho Marketing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1440,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "MAUejev0zls5AVog",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.nicho }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "estetica"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Estetica"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.nicho }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "saude"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Saude"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.nicho }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "marketing"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Marketing"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "node-switch-nicho",
      "name": "🦎 Switch Nicho Ativo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        960,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "sk-ant-api03-..."
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-5\",\"max_tokens\":1024,\"system\":\"...\",\"messages\": {{ JSON.stringify($('📝 Formatar Histórico').first().json.mensagens_formatadas) }}}",
        "options": {}
      },
      "id": "node-ia-est",
      "name": "📡 Chamar Claude EST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "sk-ant-api03-..."
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-5\",\"max_tokens\":1024,\"system\":\"...\",\"messages\": {{ JSON.stringify($('📝 Formatar Histórico').first().json.mensagens_formatadas) }}}",
        "options": {}
      },
      "id": "node-ia-sau",
      "name": "📡 Chamar Claude SAU",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "sk-ant-api03-..."
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-5\",\"max_tokens\":1024,\"system\":\"...\",\"messages\": {{ JSON.stringify($('📝 Formatar Histórico').first().json.mensagens_formatadas) }}}",
        "options": {}
      },
      "id": "node-ia-mkt",
      "name": "📡 Chamar Claude MKT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agente_camaleon_sessoes SET historico = '{{ JSON.stringify($(\"📝 Formatar Histórico\").first().json.mensagens_formatadas.concat([{role: \"assistant\", content: $json.content[0].text}])).replace(/'/g, \"''\") }}', updated_at = NOW() WHERE phone = '={{ $('📋 Extrair Dados WAHA').first().json.phone }}';",
        "options": {}
      },
      "id": "node-save-hist",
      "name": "💾 Salvar Histórico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1440,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "MAUejev0zls5AVog",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.85.2.130:3001/api/sendText",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $('📋 Extrair Dados WAHA').first().json.phone.includes('@') ? $('📋 Extrair Dados WAHA').first().json.phone : $('📋 Extrair Dados WAHA').first().json.phone + '@c.us' }}"
            },
            {
              "name": "text",
              "value": "={{ $('📡 Chamar Claude MKT').first()?.json?.content?.[0]?.text || $('📡 Chamar Claude EST').first()?.json?.content?.[0]?.text || $('📡 Chamar Claude SAU').first()?.json?.content?.[0]?.text || 'Erro na resposta' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        },
        "contentType": "json",
        "specifyBody": "keypair"
      },
      "id": "node-send-text",
      "name": "📤 Enviar Resposta WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "k1y0l7T56J9x7BKb",
          "name": "WAHA Vitrine API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Filtra apenas mensagens reais de texto (ignora e2e_notification, status, etc)\nconst isRealMessage = (\n  body.event === 'message' &&\n  !body.payload.fromMe &&\n  body.payload.body &&\n  body.payload.body.trim() !== '' &&\n  body.payload._data?.type !== 'e2e_notification'\n);\n\nif (isRealMessage) {\n  return $input.all();\n}\nreturn [];"
      },
      "id": "node-filter-event-code",
      "name": "🚡 Filtrar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agente_camaleon_sessoes (phone, nicho, historico, updated_at)\nVALUES ('={{ $json.phone }}', 'marketing', '[]', NOW())\nON CONFLICT (phone) DO UPDATE SET nicho = 'marketing', updated_at = NOW();",
        "options": {}
      },
      "id": "node-auto-mkt",
      "name": "💾 Auto-Definir Marketing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1008,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "MAUejev0zls5AVog",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const phone = $('📋 Extrair Dados WAHA').first().json.phone;\nconst message = $('📋 Extrair Dados WAHA').first().json.message;\nconst historico = $('🔀 Merge Dados + Sessão').first().json.historico || [];\n\nconst mensagens = historico.map(h => ({ role: h.role, content: h.content }));\nmensagens.push({ role: 'user', content: message });\n\nreturn [{ json: { ...$input.first().json, mensagens_formatadas: mensagens } }];"
      },
      "id": "node-format-hist",
      "name": "📝 Formatar Histórico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        304
      ]
    }
  ],
  "connections": {
    "📋 Extrair Dados WAHA": {
      "main": [
        [
          {
            "index": 0,
            "node": "🗃️ Buscar Sessão Usuário",
            "type": "main"
          }
        ]
      ]
    },
    "🗃️ Buscar Sessão Usuário": {
      "main": [
        [
          {
            "index": 0,
            "node": "🔀 Merge Dados + Sessão",
            "type": "main"
          }
        ]
      ]
    },
    "❓ Tem Nicho Selecionado?": {
      "main": [
        [
          {
            "node": "🦎 Switch Nicho Ativo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💾 Auto-Definir Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🦎 Switch Nicho Ativo": {
      "main": [
        [
          {
            "node": "📡 Chamar Claude EST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📡 Chamar Claude SAU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📡 Chamar Claude MKT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
